{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
<section id="searchsec">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2>Department of Chemistry and Chemical and Biomedical Engineering</h2>
        </div>
        <div class="span6">
          <form class="searchform cf">
            <input type="text" placeholder="you’re looking for?">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section id="intro">
    <div class="jumbotron masthead">
      <div class="container">
        <!-- slider navigation -->
        <div class="sequence-nav">
          <div class="prev">
            <span></span>
          </div>
          <div class="next">
            <span></span>
          </div>
        </div>
        <!-- end slider navigation -->
        <div class="row">
          <div class="span12">
            <div id="slider_holder">
              <div id="sequence">
                <ul>
                  {% for value in banner %}
                    <li>
                      <div class="info animate-in">
                        <h2>{{ value.banner_title }}</h2><br>
                        <h3>{{ value.banner_subtitle }}</h3>
                        <p>
                           {{ value.banner_description}}
                        </p>
                        <a class="btn btn-success" href="{{ value.banner_url}}">Learn more &raquo;</a>
                      </div>
                      <img class="slider_img animate-in" src="/media/{{ BASIC_DIR }}/{{value.banner_cover}}" alt="" style="width: 500px; height: 500px; margin-left: 800px; object-fit:cover;">
                    </li>
                  {% endfor%}
                </ul>
              </div>
            </div>
            <!-- Sequence Slider::END-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        {% for about in abouts %}
        <div class="span8 features">
          <div class="video-container">
            <iframe width="750" height="450" src="{{ about.about_url }}"></iframe><hr>
          </div>
          <b>
             {{about.about_description}}
          </b>
        </div>
        {% endfor %}
        <div class="span3 features">
          <iframe src="https://www.newhaven.edu/about/culture-of-success.php" allowtransparency="true" allowfullscreen="true" frameborder="0" height="600" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="background: white; max-width: 540px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;"></iframe>
        </div>
      </div>

      <!-- Award Wining -->
      <div class="row">
        <div class="span12"  style="background-color:#94c045;">
            <div class="post-heading" style="margin: 10px; color:white;">
              <h3 style="color:white;">ACCREDITATION & AWARDS</h3>
              <p>Get an inside look at what differentiates the University of New Haven and how your experiences as a student will prepare you for success.</p>
            </div>
        </div>
        <article class="span12">
          <article class="blog-post">
            <!-- Article 1 start -->
            <div class="row">
              <div class="span4">
                <img src="https://www.newhaven.edu/_resources/images/accreditations/acs-logo.svg" style="width:250px; height:200px;">
              </div>
              <div class="span8">
                <div class="post-heading">
                  <h3><a href="#">American Chemical Society Accreditation</a></h3>
                </div>
                <blockquote>
                  <p>ACS promotes excellence in chemistry education for undergraduate students through approval of baccalaureate chemistry programs. ACS-approved programs offer a broad-based and rigorous chemistry education that gives students intellectual, experimental, and communication skills to become effective scientific professionals.</p>
                </blockquote>
                <a class="btn btn-success" href="#">Learn more &raquo;</a>
              </div>
            </div>
            <!-- Article 2 END -->
          </article>
        </article>
      </div>
    </div>
        <!-- END Award Wining -->
  </section>
{% endblock content %}
